#mainBookCard{
    display: flex;
    flex-wrap: wrap;

}
.CardCont{
    width: 220px;
    padding: 12px;
    flex-direction: column;
    border-radius: 24px;
    margin:6px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
.bookCover{
    width: 150px;
    height: 200px;
    border-radius: 6px;
}
.CardCont{}
.CardCont >a{
    text-decoration: none;
    width: 100px;
    height: 24px;
    border-radius: 6px;
    background-color: rgb(39, 63, 109);
    color: rgb(219, 219, 219);
}